tqdm==4.66.4
opencv-python==4.10.0.84
imutils==0.5.4
numpy==1.26.4
mxnet==1.9.1
matplotlib==3.8.4
gluoncv==0.10.5.post0
pillow==10.3.0
flask==2.2.5
django==4.2.15
mpld3==0.5.10
scikit-learn==1.4.2
gunicorn==20.1.0
pillow==10.3.0
