{% load static %}



<html lang="zxx">

<head>
	<title>Dress ML </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Conference Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>

	<link rel="stylesheet" href="{% static '2022_UI/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static '2022_UI/css/style.css' %}" type="text/css" media="all" />
	<link href="{% static '2022_UI/css/font-awesome.min.css'%}" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&amp;subset=cyrillic,latin-ext,vietnamese"
	 rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&amp;subset=latin-ext" rel="stylesheet">
</head>

<body>
	<div class="main-w3pvt banner-w3ls-2">

		<header>
			<div class="container-fluid">
				<div class="header d-md-flex justify-content-between align-items-center py-3 px-lg-3 px-2">
					<div id="logo">
						<h1><a class="" href="#"> DRESS ML  </a></h1>
					</div>
					<div>
						<nav>
							<label for="drop" class="toggle">Menu</label>
							<input type="checkbox" id="drop" />
							<ul class="menu">


		<li><a href="DRESS_ML">Recommend Dress</a></li>



									<li><a href="DRESS_OVER">Dress Overlap      </a></li>
 &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
	<li ><a href="DRESS_OVER2" class="active">Video oVerlap  </a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>
	</div>







        {% block content %} {% endblock content %}
  {% block script %} {% endblock script %}


	<footer>
		<div class="w3ls-footer-grids py-5">

			<div class="copyright pt-5 px-5">
				<div class="row no-gutters text-center">
					<p class="col-lg-8 copy-right-grids">

					</p>
					<div class="col-lg-4 socila-bottom text-lg-right text-center mt-lg-0 mt-4">
						<ul class="list-unstyled">

							<li class="mx-4">
								<a href="#">© 2022 DRESS ML </a>
							</li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>


</body>

</html>



